{% extends "base.html" %}

{% block content %}
    <div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">

            <h2 class="text-center bg-info p-2">Add a Product</h2>
            <form method="POST" action="" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.name.label(class="form-control-label") }}

                    {% if form.name.errors %}
                        {{ form.name(class="form-control form-control-lg is-invalid", placeholder="Add Product Name") }}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.name(class="form-control form-control-lg", placeholder="Add Product Name") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.price.label(class="form-control-label") }}
                    {% if form.price.errors %}
                        {{ form.price(class="form-control form-control-lg is-invalid", placeholder="Add Product Price") }}
                        <div class="invalid-feedback">
                            {% for error in form.price.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.price(class="form-control form-control-lg", placeholder="Add Product Price") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.discount.label(class="form-control-label") }}
                    {% if form.discount.errors %}
                        {{ form.discount(class="form-control form-control-lg is-invalid", placeholder="Add Product Discount") }}
                        <div class="invalid-feedback">
                            {% for error in form.discount.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.discount(class="form-control form-control-lg", placeholder="Add Product Discount") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.stock.label(class="form-control-label") }}
                    {% if form.stock.errors %}
                        {{ form.stock(class="form-control form-control-lg is-invalid", placeholder="Add Product Stock") }}
                        <div class="invalid-feedback">
                            {% for error in form.stock.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.stock(class="form-control form-control-lg", placeholder="Add Product Stock") }}
                    {% endif %}
                </div>

                <div class="label">Add a Brand</div>
                <select name="brand" id="brand" class="form-control">
                    <option value="{{ product.brand_id }}">{{ product.brand.name }}</option>
                    {% for brand in brands %}
                    <option value="{{ brand.id }}">{{ brand.name }}</option>
                    {% endfor %}
                </select>

                <div class="label">Add a Category</div>
                <select name="category" id="category" class="form-control">
                    <option value="{{ product.category_id }}">{{ product.category.name }}</option>
                    {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
                <div class="form-group">
                    {{ form.colors.label(class="form-control-label") }}
                    {% if form.colors.errors %}
                        {{ form.colors(class="form-control form-control-lg is-invalid", placeholder="Add Product Colors") }}
                        <div class="invalid-feedback">
                            {% for error in form.colors.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.colors(class="form-control form-control-lg", placeholder="Add Product Colors") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.description.label(class="form-control-label") }}
                    {% if form.description.errors %}
                        {{ form.description(class="form-control form-control-lg is-invalid", placeholder="Add Product Description") }}
                        <div class="invalid-feedback">
                            {% for error in form.description.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.description(class="form-control form-control-lg", placeholder="Add Product Description", rows="5") }}
                    {% endif %}
                </div>
                <br>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            {{ form.image1.label() }}
                            {{ form.image1(class="form-control-file") }}
                            {% if form.image1.errors %}
                                {% for error in form.image1.errors %}
                                    <span class="text-danger">{{ error }}</span></br>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="col-md-4">
                            {{ form.image2.label() }}
                            {{ form.image2(class="form-control-file") }}
                            {% if form.image2.errors %}
                                {% for error in form.image2.errors %}
                                    <span class="text-danger">{{ error }}</span></br>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="col-md-4">
                            {{ form.image3.label() }}
                            {{ form.image3(class="form-control-file") }}
                            {% if form.image3.errors %}
                                {% for error in form.image3.errors %}
                                    <span class="text-danger">{{ error }}</span></br>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
    </div>
{% endblock %}